@import "../layout/color";

.phone_inner {
  box-sizing: border-box;
  padding: 1em 1em 0 1em;
}

@media (min-width: 540px) {
  .fullscreen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $neutral-300;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .phone {
    flex: 0;

    border: 0.5em solid $neutral-800;
    border-top: 2em solid $neutral-800;
    border-bottom: 2em solid $neutral-800;
    border-radius: 1em;
  }

  .phone_inner {
    position: relative;
    z-index: 0;
    overflow: auto;
    width: 24.5em;
    height: 44.5em;
    zoom: 1.2;
    background: white;

    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }
}

