@import "./color.scss";

body {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.01px;
  -webkit-font-smoothing: antialiased;
  color: $neutral-900;
}

a {
  text-decoration: none;
  color: $accent1-700;
  cursor: pointer;
}

button {
  cursor: pointer;
}

h3, h4 {
  font-size: 2em;
  margin: 0.5em 0 1em 0;
  color: $primary-700;
}

h3:after {
  content: '—';
  display: block;
  margin-top: 0.2em;
  font-weight: 700;
}

h4 {
  color: $accent2-600;
}
