@import "../layout/color.scss";

.form {
  padding: 1em;

  .back {
    display: inline-block;
    margin-bottom: 1em;
  }

  .intro {
    line-height: 1.4;
    margin-bottom: 3em;
    color: $accent2-900;
  }
}

.field {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.question {
  flex: 0.5;
  text-align: right;
  line-height: 1.4;
  padding-right: 0.5em;
}

.answer {
  flex: 0.5;
  display: flex;

  input[type=text] {
    font-size: 0.8em;
    height: 2em;
    border-radius: 0;
    max-width: 10em;
  }

  .radio {
    flex: 0.5;

    input {
      margin-right: 0.3em;
    }
  }
}

.answer.project_progress {
  display: block;

  .radio {
    display: block;
    margin-bottom: 0.2em;
  }
}

.offset {
  width: 100%;
  box-sizing: border-box;
  margin-top: -1.5em;
  padding: 0 1em 0 1.4em;

  textarea {
    width: 97%;
    height: 5em;
    border-radius: 0;
  }
}

.center {
  text-align: center;
}

.call_to_action {
  display: inline-block;
  font-size: 1.1em;
  padding: 0.5em 0.8em;
  color: $primary-900;
  background: $primary-300;
  border: 1px solid $primary-500;
  border-radius: 0.2em;
  text-align: center;
  margin-bottom: 3em;
  cursor: pointer;
}

.section {
  padding: 1.5em 0.2em;
  margin-bottom: 2em;

  &.first {
    background: $primary-50;
    box-shadow: 0 0 1em $primary-50;
    border: 1px solid $primary-200;
  }

  &.second {
    background: $neutral-100;
    box-shadow: 0 0 1em $neutral-100;
    border: 1px solid $neutral-300;
  }

  &.third {
    background: $accent2-50;
    box-shadow: 0 0 1em $accent2-50;
    border: 1px solid $accent2-200;
  }

  &.fourth {
    background: $accent1-50;
    box-shadow: 0 0 1em $accent1-50;
    border: 1px solid $accent1-100;
  }

  h5 {
    font-size: 1.5em;
    margin-left: 0.8em;
  }

  h5:after {
    content: '—';
    display: block;
    margin: 0.2em 0 1em 0;
    font-weight: 700;
  }
}
