@import "../layout/color.scss";

.form {
  padding: 1em;

  .back {
    display: inline-block;
    margin-bottom: 1em;
  }

  .intro {
    line-height: 1.4;
    margin-bottom: 3em;
    color: $accent2-900;
  }
}

.field {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.question {
  flex: 0.5;
  text-align: right;
  line-height: 1.4;
  padding-right: 0.5em;
}

.answer {
  flex: 0.5;
  display: flex;

  input[type=text] {
    font-size: 0.8em;
    height: 2em;
    border-radius: 0;
  }

  input[type=file] {
    width: 100%;
  }

  .radio {
    flex: 0.5;

    input {
      margin-right: 0.3em;
    }
  }
}

.photo {
  position: relative;

  img {
    width: 100%;
    height: 100%;
  }

  span {
    position: absolute;
    right: 0.5em;
    bottom: 0.5em;
    color: yellow;
    display: inline-block;
    background: black;
  }
}

.offset {
  width: 100%;
  box-sizing: border-box;
  margin-top: -1.5em;
  padding: 0 1em 0 1.5em;

  textarea {
    width: 100%;
    height: 5em;
    border-radius: 0;
  }
}

.center {
  text-align: center;
}

.call_to_action {
  display: inline-block;
  font-size: 1.1em;
  padding: 0.5em 0.8em;
  color: $primary-900;
  background: $primary-300;
  border: 1px solid $primary-500;
  border-radius: 0.2em;
  text-align: center;
  margin: 2em 0 3em 0;
  cursor: pointer;
}
