@import "components/layout/color.scss";

.spinner {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  background: white;
  animation: overlay 1s;

  img {
    margin: auto;
  }
}

@keyframes overlay {
  0% {
    opacity: 1;
    z-index: 2;
  }

  99% {
    opacity: 1;
    z-index: 1;
  }
}

.thanks {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.thank_you {
  font-size: 3em;
  margin: 1.5em 0 1em 0;
}

.received {
  font-size: 1.4em;
  color: $neutral-700;
  padding: 0 1em;
  line-height: 1.4;
  margin-bottom: 1.5em;
}

.logo {
  margin-top: 1em;
}

.hidden {
  visibility: 0;
  opacity: 0;
}
