@import "../layout/color.scss";

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 1em;
  height: 4.8em;
  position: relative;
}

.line {
  position: absolute;
  width: 33%;
  height: 90%;
  top: 5%;
  background: $neutral-500;
  z-index: -1;
}

.circle {
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

.top {
  background: $primary-500;
}

.middle {
  background: $accent1-500;
}

.bottom {
  background: $accent2-500;
}

.logo_with_text {
  display: flex;
  align-items: center;
}

.text {
  font-size: 2.7em;
  vertical-align: top;
  margin-left: 0.5em;
  font-weight: 300;
}

.true {
  font-weight: 700;
}
