.o0e-x91g4TQoAT8HOYfm6 {
  margin: 3em; }
  .o0e-x91g4TQoAT8HOYfm6 p {
    font-size: 1.5em;
    margin-bottom: 1em; }
  .o0e-x91g4TQoAT8HOYfm6 span {
    width: 5em;
    height: 5em;
    display: inline-block;
    margin: 0 0.5em 0.5em 0; }

._1wg-EriGhAN5cRXU-GLf4a {
  background: #edf6f2; }

._2oiUvuGYSVxwN4kY8LngIi {
  background: #d4ebe0; }

._1GHYMGPDKKaEiWBFA-njpO {
  background: #bcdfce; }

.-on8fKep6lU3vXmAvQdVA {
  background: #a4d4bd; }

.ubNCWKBcCyxh1lpjCEMyr {
  background: #8cc8ab; }

._72TUEpkfh-jE47K-lFWu5 {
  background: #70bb97; }

._3MDu-OaY0RRFtvKfgYr71f {
  background: #55ae83; }

._1L-PJEIk29pOElS3W2F3_Q {
  background: #46936e; }

._2CibDg6tFxJUca89KcBsDu {
  background: #397859; }

._1xOlx_NyjNZ2pECIHZUBK9 {
  background: #d5e7f0; }

._2youV8Tw5KLkGPpCT3tLlq {
  background: #a8cce0; }

.XfkElDiq99jYuUmkh8HEM {
  background: #7bb2cf; }

.bCPelykDvBIufZDpxOl0E {
  background: #4e98bf; }

._1EI8jLFhK0GvxY0Qa4tbrF {
  background: #377799; }

._2TYzBh9etkhKlEaxv8fLia {
  background: #326b8a; }

._1-eqv1QFvalwk9Txwi7r63 {
  background: #2c607b; }

.bWxEU3mJhsti1b5ZDRdYh {
  background: #27546c; }

._2Cn9UCJj9I-oKOpcloOxat {
  background: #21485d; }

._11rXhPBbe1QbFXpA9kXOKe {
  background: #f1ecd6; }

.QdzEJLDj8EtJ-Ly6ix6-d {
  background: #e7deb7; }

._35QEwNcrZ4gzVKb0OeSTLM {
  background: #ddd098; }

._2SJCamfShXLWU8baqqWDuk {
  background: #d3c27a; }

._1eVtJg6lAEcmcygPxgPx-A {
  background: #c9b45b; }

._5iWVKBEHYFRVgycpGfDPr {
  background: #c0a840; }

.zI7k0dAG_FE0fDfHFGkfb {
  background: #a69137; }

.rn1ZIaF_--VPIGoJBfMcA {
  background: #8b792e; }

._1x06IFwOIQmQnKeroyabPK {
  background: #706225; }

._3OmR1xML-BteKD3_V09Z5Q {
  background: #f6f5f2; }

._3b6rfRYQer5AXTVbj1yhlw {
  background: #ebe9e3; }

._21BUEZYWk6Dt2D23r6rCgp {
  background: #e1ddd4; }

.FdO6dCtYVgBca_-8BI7gP {
  background: #d6d2c5; }

._2XXbtStCA3OZVxBD9IpUIs {
  background: #ccc6b6; }

._26rB1qJh8YuWLJ-6SZLMOh {
  background: #a7a294; }

._2TBguyWVvG8FlEVSClJzOy {
  background: #857f6e; }

.kRR_x7p-TJy1ChmMPZaT1 {
  background: #5e5a4e; }

._2YM3u7jm-nG2b_7j8BjYXS {
  background: #37352d; }

._1TghmQn5kd1CO1uAIAFX6i {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: _3Tt0ZsflFfGP1Nv3J7UlFz 4s;
  background: white;
  opacity: 0;
  z-index: -1; }

@keyframes _3Tt0ZsflFfGP1Nv3J7UlFz {
  0% {
    opacity: 1;
    background: #ebe9e3;
    z-index: 1; }
  50% {
    background: white; }
  90% {
    opacity: 1;
    z-index: 1; }
  100% {
    opacity: 0; } }

.zYRBCCGv3Gp35TIj5ItdV {
  opacity: 0;
  animation: _12MmPgkDordwACcM22OcOP 4s; }

@keyframes _12MmPgkDordwACcM22OcOP {
  0% {
    opacity: 0;
    transform: translateY(-3em); }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

._32qG8OlMu2nsW21_arzABZ {
  opacity: 0;
  position: absolute;
  animation: _1f2qJtfYBsb3OQmlKbiqh6 3s;
  animation-delay: 1s;
  transform: translateY(8em);
  width: 3em; }

@keyframes _1f2qJtfYBsb3OQmlKbiqh6 {
  0% {
    opacity: 0; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.mdARJo_0PpGAPIq0__wyL p {
  line-height: 1.4;
  margin-bottom: 1.2em; }

.mdARJo_0PpGAPIq0__wyL ul {
  list-style: square;
  margin-left: 1.5em; }

.mdARJo_0PpGAPIq0__wyL li {
  margin-bottom: 1em;
  line-height: 1.2; }

.mdARJo_0PpGAPIq0__wyL ._3OwaP0YCSqbv_zKujck_WV {
  width: 100%;
  margin-top: 0.8em;
  border: 1px solid #857f6e;
  box-sizing: border-box;
  box-shadow: 0 0 0.2em #ccc6b6; }

.mdARJo_0PpGAPIq0__wyL ._3npapWdt1D3osSgVYnZ9qm {
  margin-top: 2rem; }

.mdARJo_0PpGAPIq0__wyL ._3ONKcEgMc7jF7Y3lKLBDaQ {
  display: block;
  margin: 2em 0; }

.mdARJo_0PpGAPIq0__wyL .mWz8JpvmjDIZQwXGR4RvI {
  text-align: center; }

.mdARJo_0PpGAPIq0__wyL ._1iKyBH7F0FUMccIuOWPs4N {
  display: inline-block;
  font-size: 1.1em;
  padding: 0.5em 0.8em;
  color: #21485d;
  background: #d5e7f0;
  border: 1px solid #7bb2cf;
  border-radius: 0.2em;
  text-align: center;
  margin-bottom: 3em;
  cursor: pointer; }

._2XC1uBcmNydmJQ0sO5A5p5 {
  text-align: center;
  color: #ccc6b6;
  margin-bottom: 2em; }

._3jDF2XWffD89hU4a8b5cWI {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  background: white;
  animation: _10fJntLuVXQt2Kau0afNpN 0.5s; }
  ._3jDF2XWffD89hU4a8b5cWI img {
    margin: auto; }

@keyframes _10fJntLuVXQt2Kau0afNpN {
  0% {
    opacity: 1;
    z-index: 2; }
  99% {
    opacity: 1;
    z-index: 1; } }

._2xZl6-S1766JuajA4-pA9x {
  position: relative;
  width: 7.5em; }
  ._2xZl6-S1766JuajA4-pA9x img {
    width: 100%;
    height: 100%; }
  ._2xZl6-S1766JuajA4-pA9x span {
    position: absolute;
    right: 0.5em;
    bottom: 0.5em;
    color: yellow;
    display: inline-block;
    background: black; }
  ._2xZl6-S1766JuajA4-pA9x button {
    font-size: 0.8em;
    border-radius: 0;
    background: #bcdfce;
    border: 1px solid #8cc8ab;
    padding: 0.5em 1em; }
  ._2xZl6-S1766JuajA4-pA9x input {
    visibility: 0;
    opacity: 0;
    display: none; }

@charset "UTF-8";
._2ZpA93-CW6ZUnrED4Ieeq ._2yvByaZkfpM6egc_QT2bzi {
  display: inline-block;
  margin-bottom: 1em; }

._2ZpA93-CW6ZUnrED4Ieeq ._1th2eHH48dJNzesARwgHZP {
  line-height: 1.4;
  margin-bottom: 3em;
  color: #706225; }

._3pRhc6ep0LE5RD-MowDp_7 {
  display: flex;
  align-items: center;
  margin-bottom: 2em; }

._2PHAAWaJ4bomeMvCbf6yQh {
  flex: 0.6;
  text-align: right;
  line-height: 1.4;
  padding-right: 0.5em; }

._24gZzRKriAOPGku448mTBn {
  flex: 0.4;
  display: flex; }
  ._24gZzRKriAOPGku448mTBn input[type=text] {
    font-size: 0.8em;
    height: 2em;
    border-radius: 0;
    max-width: 10em; }
  ._24gZzRKriAOPGku448mTBn .Yd7ZpSLh5uSY8diENq7VJ {
    flex: 0.5; }
    ._24gZzRKriAOPGku448mTBn .Yd7ZpSLh5uSY8diENq7VJ input {
      margin-right: 0.3em; }

._24gZzRKriAOPGku448mTBn._1fzRv6hcOcrXtXdXzPyRCR {
  display: block; }
  ._24gZzRKriAOPGku448mTBn._1fzRv6hcOcrXtXdXzPyRCR .Yd7ZpSLh5uSY8diENq7VJ {
    display: block;
    margin-bottom: 0.2em; }

._3i18hIVQcoswM-OA6Wi4uv {
  width: 100%;
  box-sizing: border-box;
  margin-top: -1.5em;
  padding: 0 1em 0 1.4em; }
  ._3i18hIVQcoswM-OA6Wi4uv textarea {
    width: 97%;
    height: 5em;
    border-radius: 0; }

._1K4079iPoNGMBuxiq8lUPb span {
  text-align: left;
  margin-left: 2rem; }

._mV97FkQRoKIa1PjyWYgy {
  text-align: center; }

.iQmIE7W86yEb9zDRiIMSz {
  display: inline-block;
  font-size: 1.1em;
  padding: 0.5em 0.8em;
  color: #397859;
  background: #bcdfce;
  border: 1px solid #8cc8ab;
  border-radius: 0.2em;
  text-align: center;
  margin-bottom: 3em;
  cursor: pointer; }

._3X8VYcOq8DOG5o1NOvTF9N {
  padding: 1.5em 0.2em;
  margin-bottom: 2em; }
  ._3X8VYcOq8DOG5o1NOvTF9N._21BPr030cgnonNjI1dl5xb {
    background: #f6faf8;
    box-shadow: 0 0 1em #f6faf8;
    border: 1px solid #d4ebe0; }
  ._3X8VYcOq8DOG5o1NOvTF9N._3UILwp3ez4XDZzxxi9hDFR {
    background: #f6f5f2;
    box-shadow: 0 0 1em #f6f5f2;
    border: 1px solid #e1ddd4; }
  ._3X8VYcOq8DOG5o1NOvTF9N.GFvbQUaGOahjeH11WMaqt {
    background: #fbfaf4;
    box-shadow: 0 0 1em #fbfaf4;
    border: 1px solid #e7deb7; }
  ._3X8VYcOq8DOG5o1NOvTF9N._1lgGEBoaMx95BJv3ajLqgk {
    background: #f6fafc;
    box-shadow: 0 0 1em #f6fafc;
    border: 1px solid #d5e7f0; }
  ._3X8VYcOq8DOG5o1NOvTF9N h5 {
    font-size: 1.5em;
    margin-left: 0.8em; }
  ._3X8VYcOq8DOG5o1NOvTF9N h5:after {
    content: '\2014';
    display: block;
    margin: 0.2em 0 1em 0;
    font-weight: 700; }

._2vNIxofQkyUHGeJy0alOxp {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  background: white;
  animation: _1RDBjj4y2WtS32iY_p6_5E 1s; }
  ._2vNIxofQkyUHGeJy0alOxp img {
    margin: auto; }

@keyframes _1RDBjj4y2WtS32iY_p6_5E {
  0% {
    opacity: 1;
    z-index: 2; }
  99% {
    opacity: 1;
    z-index: 1; } }

._1QGfvZh1HdCORmStahB3Q7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

._9xvBqwZIuBUGT5TTPKEOn {
  font-size: 3em;
  margin: 0.5em 0 1em 0; }

._1g-kuwXwIxpl-L-uMJcosx {
  font-size: 1.4em;
  color: #857f6e;
  padding: 0 1em;
  line-height: 1.4;
  margin-bottom: 1.5em; }

._2bSTbjdStrEk7uSAQfpWHn {
  margin-top: 1em; }

._20C59peRGVMPAI2MQCa5YX {
  visibility: 0;
  opacity: 0; }
  ._20C59peRGVMPAI2MQCa5YX._1eo0Z_MgfeaKmdLOLftXTG {
    margin: 6em auto 0 auto;
    display: block;
    visibility: visible;
    opacity: 1; }

._2YJ5_JjTDkUgOirAVl69ug {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0; }

