@import "components/layout/color.scss";

.instructions {
  padding: 0.5em;
  color: $neutral-500;
}

.restart {
  text-align: center;

  a {
    color: $accent1-200;;
  }
}

.color_palette {
  font-size: 2em;
  color: $accent2-900;
  text-align: center;
  margin-top: 5em;
}
