@import "../layout/color.scss";

.overview {
  p {
    line-height: 1.4;
    margin-bottom: 1.2em;
  }

  ul {
    list-style: square;
    margin-left: 1.5em;
  }

  li {
    margin-bottom: 1em;
    line-height: 1.2;
  }

  .map {
    width: 100%;
    margin-top: 0.8em;
    border: 1px solid $neutral-700;
    box-sizing: border-box;
    box-shadow: 0 0 0.2em $neutral-500;
  }

  .bullets {
    margin-top: 2rem;
  }

  .spec {
    display: block;
    margin: 2em 0;
  }

  .center {
    text-align: center;
  }

  .call_to_action {
    display: inline-block;
    font-size: 1.1em;
    padding: 0.5em 0.8em;
    color: $accent1-900;
    background: $accent1-100;
    border: 1px solid $accent1-300;
    border-radius: 0.2em;
    text-align: center;
    margin-bottom: 3em;
    cursor: pointer;
  }
}
